.edit-sell-btn {
  border: 1px solid #c6af80 !important;
  border-radius: 8px;
  background: #ffffff !important;
  color: #c6af80 !important;
}

.delete-form-finance {
  background: #ff3d00;
  border-radius: 8px;
}

.box-first-sell {
  width: 100%;
  padding: 15px;
  background: rgba(220, 213, 203, 0.15);
  border-radius: 8px;
}

.img-box-sell {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin-left: 1rem;
}
.box-text-sell {
  margin-left: 1rem;
}
.text-des-sell {
  font-weight: 400;
  font-size: 12px;
  line-height: 109.02%;
  letter-spacing: 0.04em;
  color: #717171;
}

.text-name-sell {
  font-weight: 700;
  font-size: 14px;
  line-height: 109.02%;
  letter-spacing: 0.04em;
  color: #717171;
}

.btn-fixed-price,
.btn-action-price {
  border-radius: 10px 0px 0 10px;
  width: 50%;
  height: 100%;
  color: rgba(113, 113, 113, 0.5);
}

.btn-action-price {
  border-radius: 0px 10px 10px 0px;
  width: 50%;
}

.btn-fixed-price {
  border-right: 1px solid #dcd5cb;
}

.box-sell-type {
  background: rgba(220, 213, 203, 0.5);
  border-radius: 10px;
  width: 100%;
  height: 80px;
}

.active-btn {
  background: #c6af80 !important;
  border-radius: 10px;
  color: #ffffff;
}
.feeds {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  color: #717171;
}

.subtitle-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #717171;
}

.btn-complete-sell {
  background: rgba(198, 175, 128, 0.5);
  border-radius: 8px;
  width: 160px;
  height: 50px;
  color: #ffffff;
}
.modal-image {
  width: 204px;
height: 208px;
}